@import "variables.css";
@import "normalize.css";
@import "reset.css";

/* colors defined in variables.css */
:root {
	/* font */
	--sans: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
	--serif: Iowan Old Style, Times New Roman, Times, serif;
	--mono: Menlo, Consolas, Monaco, monospace;

	/* z-index */
	--z-bottom: -100;
	--z-middle: 0;
	--z-top: 100;
	--z-overlay: 1000;

	/* presets (used in reset.css) */
	--color-pink: #e70068;
	--border-radius: 2px;
	--font-body: var(--mono);
	--font-form: var(--mono);
	--color-bg: var(--color-white);
	--color-fg: var(--color-gray-900);
	--color-primary: var(--color-black);
	--color-link: var(--color-pink);
	--color-link-hover: var(--color-black);
	--color-focus: var(--color-black);
	--color-mark: var(--color-gray-100);
	--color-selection: var(--color-gray-300);
	--color-border: var(--color-gray-300);
	--color-button-bg: var(--color-white);
	--color-button-fg: var(--color-gray-900);
	--color-button-hover: var(--color-gray-100);
	--color-input-bg: var(--color-gray-50);
	--color-input-fg: var(--color-gray-900);
	--color-placeholder: var(--color-gray-500);

	/* "1" second duration */
	--1s: 1ms;
	
	--col-width: 400px;
}

/* dark theme */
/* @media screen and (prefers-color-scheme:dark) {
	:root {
		
	}
} */

@media screen and (prefers-reduced-motion: no-preference) {
	:root {
		--1s: 1s;
	}
}

svg {
	display: block;
	width: 100%;
	height: auto;
}

main {
	padding: 16px;
}

p {
	font-size: 15px;
}

@media screen and (min-width: 480px) {
	p {
		font-size: 16px;
	}
}